
#timetable {
    width: 90%;
    height: 45em;
}

.close_button {
    margin: 0px 0px 10px 10px;
    background-color: #cc3030;
    color: #ffffff;
    float: right;
}

/* mõned detailid OpenGPT poolt */
.modal {
    padding: 20px;
    background-color: #dddddd;
    border-radius: 20px;
    border: 20px solid #dddddd;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 80%;
    transform: translate(-50%, 0%);
    height: fit-content;
    min-height: 70%;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

/* animatsioon */
#animation_box {
    z-index: 0;
    width: 600px;
    height: 150px;
    background-color: #bbbbbb;
    margin: auto;
    position: relative;
}

.center_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation_server {
    z-index: 2;
    position: relative;
    width: 100px;
    height: 90%;
    top: 5%;
    left: 5px;
    background-color: #222222;
    color: #eeeeee;
    position: absolute;
    
}

#animation_page {
    z-index: 2;
    position: relative;
    width: 100px;
    height: 90%;
    top: 5px;
    left: 495px;
    background-color: #50dd50;
}

#animation_browser {
    z-index: 2;
    position: absolute;
    width: 20px;
    height: 90%;
    top: 5%;
    left: 400px;
    background-color: #881010;
    color: #eeeeee;
}

#animation_browser_inner {
    transform: rotate(90deg);
}

#animation_data {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 500px;
    transform: translate(0, -50%);
    background-color: #cccc50;
    transition: left 1s;
}

#animation_data.important {
    background-color: #ffaa50;
}

#animation_data.destroy {
    transition: opacity 0.5s linear, transform 0.7s;
    transform: translate(0, -100%) scale(0.1);
    opacity: 0;
}
